<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.rba.rbalist" android:versionCode="1" android:versionName=".01">
  <uses-sdk android:targetSdkVersion="16" />
  <application android:label="RBAList">
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>